$color--black: #000;
$color--white: #fff;
$color--light-grey: #E4EAF0;
$color--grey: #BCCED4;
$color--dark-grey: #8B9CA1;
$color--red: #FF1263;
$color--green: #008070;

$font-family--primary: "Roboto";
$font-family--secondary: "HelveticaNeueLTStd";
