@import "ress";
@import './variables.scss';

@font-face {
  font-family: "HelveticaNeueLTStd";
  src: url("~@/assets/fonts/HelveticaNeueLTStd-BdCn.otf");
}
@font-face {
  font-family: "Roboto";
  src: url("~@/assets/fonts/Roboto-Medium.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  // overflow: hidden;

  font-family: $font-family--primary, Arial;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: $font-family--secondary;
}

.tile {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 1.5rem;
}

hr {
  border: none;
  border-bottom: 1px solid $color--grey;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;

  padding: 1rem;
  border-radius: 4px;

  svg {
    width: 1rem;
    margin-right: 0.6rem;
  }

  &--primary {
    color: $color--white;
    text-transform: uppercase;

    background-color: $color--black;

    svg {
      fill: $color--white;
    }
  }

  &--secondary {
    color: $color--black;
    border: 1px solid $color--black;
  }

  &--full-width {
    width: 100%;
  }

  &--back {
    width: 5rem;
    height: 5rem;

    svg {
      width: 2rem;
      margin: 0;
    }
  }
}

.button-group {
  display: flex;

  &--full-width {
    width: 100%;

    button {
      flex: 1 1 auto;
    }
  }

  &__button {
    width: 3.125rem;
    height: 3.125rem;

    outline: none;
    border: 1px solid $color--grey;
    background-color: $color--white;

    transition: background-color 120ms ease;

    &:not(:last-child) {
      border-right: none;
    }

    &--active {
      background-color: $color--light-grey;
    }
  }
}

.dimension-switch {
  position: absolute;
  top: 3.75rem;
  right: 3.75rem;

  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    &--switch {
      width: 5rem;
      height: 5rem;

      border: 1px solid $color--black;
      border-radius: 0;

      background-color: $color--white;

      transition: background-color 260ms ease;

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      svg {
        width: 2rem;
        margin-right: 0;
      }
    }

    &--selected {
      background-color: $color--black;

      svg {
        fill: $color--white;
      }
    }
  }
}

.sidebar {
  flex: 0 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 24rem;
  height: 100vh;
  padding: 2.5rem;

  // overflow-y: auto;

  background-color: $color--white;

  &--plans {
    // border-right: 1px solid $color--grey;
  }

  &__logo {
    width: 11.5rem;
    margin-bottom: 3.75rem;
  }
  &__content {
    flex: 0 1 auto;
    overflow-y: auto;
  }
  &__footer {
    margin-top: 1rem;
  }
}

.transition-fall {
  &-enter-active,
  &-leave-active {
    transition: transform 320ms ease, opacity 260ms ease;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
    transform: scale(1.2);

  }
  &-leave,
  &-enter-to {
    opacity: 1;
    transform: scale(1);
  }
}
