<!-- eslint-disable -->
<template>
<svg viewBox="0 0 32 20" fill="#000" xmlns="http://www.w3.org/2000/svg">
  <path d="M29.678 8.201H6.108l5.154-5.154a1.782 1.782 0 0 0 0-2.524 1.782 1.782 0 0 0-2.524 0L.523 8.738a1.782 1.782 0 0 0 0 2.524l8.215 8.215a1.782 1.782 0 0 0 2.524 0 1.782 1.782 0 0 0 0-2.524l-5.155-5.172h23.57c.985 0 1.79-.806 1.79-1.79s-.805-1.79-1.79-1.79z"/>
</svg>
</template>