<!-- eslint-disable -->
<template>
	<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M16.875 1.13752C16.3875 0.650025 15.6 0.650025 15.1125 1.13752L9.00002 7.23753L2.88752 1.12502C2.40002 0.637524 1.61252 0.637524 1.12502 1.12502C0.637524 1.61252 0.637524 2.40003 1.12502 2.88753L7.23752 9.00003L1.12502 15.1125C0.637524 15.6 0.637524 16.3875 1.12502 16.875C1.61252 17.3625 2.40002 17.3625 2.88752 16.875L9.00002 10.7625L15.1125 16.875C15.6 17.3625 16.3875 17.3625 16.875 16.875C17.3625 16.3875 17.3625 15.6 16.875 15.1125L10.7625 9.00003L16.875 2.88753C17.35 2.41253 17.35 1.61252 16.875 1.13752Z" fill="#23313F"/>
	</svg>
</template>