<!-- eslint-disable -->
<template>
<svg viewBox="0 0 40 40" fill="#000" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0)">
    <path d="M29.217 24.081l-1.379.764a.586.586 0 0 0 .568 1.026l1.38-.765a.586.586 0 0 0-.569-1.025zM29.218 22.419l-1.38.764a.586.586 0 0 0 .568 1.025l1.38-.764a.586.586 0 0 0-.569-1.025z"/>
    <path d="M38.94 29.439a.592.592 0 0 0 .088-.307v-5.155a.586.586 0 1 0-1.172 0v4.252l-5.635-2.513V14.828l5.635-3.122v9.72a.586.586 0 0 0 1.172 0V10.711a.595.595 0 0 0-.302-.513L20.306-.006a.594.594 0 0 0-.568 0L1.318 10.2a.593.593 0 0 0-.302.52v18.413c0 .21.118.41.302.512l8.116 4.497a.586.586 0 0 0 .568-1.025l-7.09-3.927L8.38 26.75l11.056 6.126v5.466l-7.11-3.939a.586.586 0 1 0-.568 1.026l7.98 4.42a.594.594 0 0 0 .568 0l8.37-4.636a.586.586 0 1 0-.569-1.026l-7.5 4.155v-5.466l11.057-6.125 5.466 2.438-6.7 3.712a.586.586 0 1 0 .568 1.025l7.728-4.282a.594.594 0 0 0 .215-.205zM20.023 8.719l10.404 5.764-10.404 5.764-10.405-5.764 10.405-5.765zm11.614 5.094l-11.028-6.11V1.501l16.625 9.21-5.597 3.102zm-12.2-6.11l-11.028 6.11-5.597-3.101 16.625-9.21v6.201zM2.188 11.706l5.634 3.122v10.888l-5.634 2.513V11.706zm6.806 3.771l4.253 2.357 6.189 3.428v10.274L8.994 25.751V15.477zm11.614 5.785l10.442-5.785v10.274l-10.442 5.785V21.262z"/>
  </g>
  <defs>
    <clipPath id="clip0">
      <path fill="#fff" d="M0 0h40v40H0z"/>
    </clipPath>
  </defs>
</svg>
</template>