<template>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 180 41">
  <g fill="#000" clip-path="url(#c0)">
    <path d="M27.47 20.6c0-6.87-4.7-11.93-11.93-11.93H8.68v23.86h6.86c6.87 0 11.93-5.06 11.93-11.93zM15.54 40.48H0V.72h15.54c12.3 0 20.97 8.68 20.97 19.88s-8.68 19.88-20.97 19.88zm60-19.88c0-6.87-5.06-12.29-11.93-12.29-6.86 0-11.92 5.42-11.92 12.3 0 6.86 5.06 12.28 11.92 12.28 6.87 0 11.93-5.42 11.93-12.29zM63.61 40.84c-12.29 0-20.96-9.03-20.96-20.24C42.65 9.4 51.7 0 63.61 0c12.3 0 20.97 9.04 20.97 20.24 0 11.57-8.68 20.6-20.97 20.6zm59.64-.36V14.46l-11.2 16.98-11.2-16.98v26.02h-8.32V.72h9.4l10.12 16.63L122.53.72h9.4v39.76h-8.68zm35.79-29.64l-5.43 13.02h10.49l-5.06-13.02zm11.92 29.64l-3.61-9.03h-16.63l-3.61 9.03h-9.04L155.06.72h7.95L180 40.48h-9.04z"/>
  </g>
  <defs>
    <clipPath id="c0">
      <path fill="#fff" d="M0 0h180v40.84H0z" />
    </clipPath>
  </defs>
</svg>
</template>