<!-- eslint-disable -->
<template>
<svg viewBox="0 0 30 30" fill="#000" xmlns="http://www.w3.org/2000/svg">
  <path d="M30 4.688v9.96a4.693 4.693 0 0 1-4.688 4.688h-.234a1.172 1.172 0 1 1 0-2.344h.235a2.346 2.346 0 0 0 2.343-2.344V9.551h-3.105v.586a1.172 1.172 0 1 1-2.344 0V6.62a1.172 1.172 0 1 1 2.344 0v.586h3.105v-2.52a2.346 2.346 0 0 0-2.343-2.343h-8.32v4.863h.585a1.172 1.172 0 1 1 0 2.344h-3.515a1.172 1.172 0 1 1 0-2.344h.585V2.344h-3.222a1.172 1.172 0 1 1 0-2.344h13.886A4.693 4.693 0 0 1 30 4.688zM19.16 16.992h-2.168v-2.226a1.172 1.172 0 1 0-2.344 0v11.718c0 .646-.525 1.172-1.171 1.172h-1.934a1.172 1.172 0 1 0 0 2.344h1.934a3.52 3.52 0 0 0 3.515-3.516v-7.148h2.168a1.172 1.172 0 1 0 0-2.344zm-8.555-2.812a1.172 1.172 0 1 0-2.343 0v.644H2.344V4.688a2.347 2.347 0 0 1 2.344-2.344h.878a1.172 1.172 0 1 0 0-2.344h-.878A4.693 4.693 0 0 0 0 4.688v20.625A4.693 4.693 0 0 0 4.688 30h.937a1.172 1.172 0 1 0 0-2.344h-.938a2.346 2.346 0 0 1-2.343-2.343v-8.145h5.918v.527a1.172 1.172 0 1 0 2.343 0V14.18z"/>
</svg>
</template>