<!-- eslint-disable -->
<template>
<svg viewBox="0 0 29 31" fill="#000" xmlns="http://www.w3.org/2000/svg">
  <path d="M28.3 29.1l-5.6-6.4c2.4-2.4 3.9-5.7 3.9-9.4C26.6 6 20.6 0 13.3 0 6 0 0 6 0 13.3c0 7.3 6 13.3 13.3 13.3 3 0 5.7-1 7.9-2.6l5.6 6.4 1.5-1.3zM2 13.3C2 7.1 7.1 2 13.3 2c6.2 0 11.3 5.1 11.3 11.3 0 6.2-5.1 11.3-11.3 11.3C7.1 24.6 2 19.5 2 13.3z"/>
</svg>
</template>