<template>
  <div class="sidebar sidebar--floor sidebar--plans">

    <div class="sidebar__logo">
      <DomaLogo />
      <!-- <img width="185" src="@/assets/images/doma-large.png" alt="DOMA"> -->
    </div>

    <div class="sidebar__content">
      <ApartmentInfo
        :name="$route.params.id"
        :bedroom="parseInt(selectedApartment.bedroom)"
        :bathroom="parseInt(selectedApartment.bathroom)"
        :study="parseInt(selectedApartment.study)"
        :internalArea="selectedApartment.internal_area"
        :externalArea="selectedApartment.external_area"
        :totalArea="selectedApartment.total_area"
      />

      <div class="minimap">
        <img src="@/assets/images/keyplan.png" alt="Level Plan" ref="planImage" />
        <p v-if="currentLevel">Level {{ currentLevel }}</p>
      </div>
    </div>

    <div class="sidebar__footer">
      <button class="button button--secondary button--back" @click="goBack()">
        <BackIcon/>
      </button>
    </div>

  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

import PinchZoom from 'pinch-zoom-js';

import BackIcon from '@/assets/icons/BackIcon';
import DomaLogo from '@/assets/icons/DomaLogo';
import ApartmentInfo from '@/components/ApartmentInfo';

export default {
  name: 'FloorSidebar',
  components: {
    BackIcon,
    DomaLogo,
    ApartmentInfo,
  },
  mounted() {
    window.addEventListener('resize', this.handleResize);
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize)
  },
  data() {
    return {
    };
  },
  computed: {
    ...mapState({
      view       : state => state.view,
      apartments : state => state.apartments,
    }),
    ...mapGetters('apartments', ['getById', 'getByName']),
    floorName() {
      return this.$route.params.id;
    },
    selectedApartment() {
      return this.getByName('1108');
    },
    currentLevel() {
      return this.selectedApartment && this.selectedApartment.level;
    },
  },
  methods: {
    goBack() {
      DS.ds.flyOut();
      this.$router.push({ path: '/level' });
    },
  },
};
</script>

<style lang="scss">
@import '@/assets/scss/_variables.scss';

.minimap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    text-transform: uppercase;
    margin: 0.5rem 0;
  }
}
</style>
