<template>
  <div class="sidebar sidebar--level sidebar--plans">
    <div class="sidebar__logo">
      <!-- <img width="185" src="@/assets/images/doma-large.png" alt="DOMA"> -->
      <DomaLogo />
    </div>

    <h2>Level</h2>
    <div class="sidebar__content level-select">
      <ul class="level-select__list">
        <li v-for="index in reversedLevels" :key="index" class="level-select__item" :class="view.selectedLevel === index ? 'level-select__item--selected' : ''" @click="selectLevel(index)">Level {{ index }}</li>
      </ul>
    </div>

    <div class="sidebar__footer">
      <button class="button button--secondary button--back" @click="goBack()">
        <BackIcon/>
      </button>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

import PinchZoom from 'pinch-zoom-js';

import BackIcon from '@/assets/icons/BackIcon';
import DomaLogo from '@/assets/icons/DomaLogo';

export default {
  name: 'LevelSidebar',
  components: {
    BackIcon,
    DomaLogo,
  },
  data() {
    return {
      levels: [1,2,3,4,5,6,7,8,9,10,11],
    };
  },
  computed: {
    ...mapState({
      view : state => state.view,
    }),
    reversedLevels() {
      return this.levels.slice().reverse();
    },
  },
  methods: {
    selectLevel(level) {
      this.$store.dispatch('view/setLevel', level);
    },
    goBack() {
      DS.ds.flyOut();
      this.$router.push({ name: 'home' });
    },
  },
};
</script>

<style lang="scss">
@import '@/assets/scss/_variables.scss';

.sidebar--level {
  position: relative;

  display: flex;

  h2 {
    margin: 2rem 0;
    text-transform: uppercase;
  }

  .level {
    &-select {
      &__list {
        font-size: 14px;
        color: $color--grey;

        list-style: none;
        margin-bottom: 2rem;
      }
      &__item {
        padding: 1.375rem;

        border-left: 4px solid transparent;
        cursor: pointer;

        transition: background-color 260ms ease, border 260ms ease;

        // &:hover {
        //   background-color: rgba(0,0,0,0.02);
        // }

        &--selected {
          color: $color--black;
          // border-color: $color--black;
        }
      }
    }
  }
}
</style>
