<template>
  <div class="sidebar">
    <div class="project-header">
      <DomaLogo class="project-header__logo" />
      <p>We create spaces and places that inspire and endure. Places that people enjoy even beyond our expectations.</p>
    </div>

    <div class="sidebar__content project-filter">
      <div class="project-filter__heading">
        <h2>Residences</h2>
      </div>

      <hr>

      <div class="project-filter__filter-row">
        <label>Bed</label>
        <div class="button-group">
          <button
            class="button-group__button"
            :class="{'button-group__button--active' : filters.bedroom === 0}"
            @click="setFilter('bedroom', 0)"
          >ALL</button>
          <button
            class="button-group__button"
            :class="{'button-group__button--active' : filters.bedroom === 1}"
            @click="setFilter('bedroom', 1)"
          >1</button>
          <button
            class="button-group__button"
            :class="{'button-group__button--active' : filters.bedroom === 2}"
            @click="setFilter('bedroom', 2)"
          >2</button>
          <button
            class="button-group__button"
            :class="{'button-group__button--active' : filters.bedroom === 3}"
            @click="setFilter('bedroom', 3)"
          >3</button>
        </div>
      </div>
      <div class="project-filter__filter-row">
        <label>Bath</label>
        <div class="button-group">
          <button
            class="button-group__button"
            :class="{'button-group__button--active' : filters.bathroom === 0}"
            @click="setFilter('bathroom', 0)"
          >ALL</button>
          <button
            class="button-group__button"
            :class="{'button-group__button--active' : filters.bathroom === 1}"
            @click="setFilter('bathroom', 1)"
          >1</button>
          <button
            class="button-group__button"
            :class="{'button-group__button--active' : filters.bathroom === 2}"
            @click="setFilter('bathroom', 2)"
          >2</button>
          <button
            class="button-group__button"
            :class="{'button-group__button--active' : filters.bathroom === 3}"
            @click="setFilter('bathroom', 3)"
          >3</button>
        </div>
      </div>
      <div class="project-filter__filter-row">
        <label>Study</label>
        <div class="button-group">
          <button
            class="button-group__button"
            :class="{'button-group__button--active' : filters.study === 0}"
            @click="setFilter('study', 0)"
          >0</button>
          <button
            class="button-group__button"
            :class="{'button-group__button--active' : filters.study === 1}"
            @click="setFilter('study', 1)"
          >1</button>
        </div>
      </div>

      <div class="project-filter__submit">
        <p
          class="project-filter__error"
          v-if="formSubmitted && !filteredApartments.length"
        >No results</p>

        <button class="button button--primary button--full-width" @click="filterApartments">
          <SearchIcon/>Filter
        </button>
      </div>

      <h2>Amenities</h2>

      <hr>

      <div class="project-filter__filter-row">
        <div class="button-group button-group--full-width">
          <button class="button-group__button" @click="highlight3DPool">Pool</button>
          <button class="button-group__button" @click="highlight3DChildcare">Child Care</button>
          <button class="button-group__button" @click="highlight3DRetail">Retail</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";

import SearchIcon from "@/assets/icons/SearchIcon";
import DomaLogo from "@/assets/icons/DomaLogo";

export default {
  name: "MainSidebar",
  components: {
    SearchIcon,
    DomaLogo
  },
  data() {
    return {
      formSubmitted: false,
      filters: {
        bedroom: 0,
        bathroom: 0,
        study: 0
      }
    };
  },
  mounted() {
    const vm = this;

    // Hacky listener to reset the filters when the ApartmentTile is closed
    this.$store.subscribeAction(function(action, state) {
      if (action.type === "view/setApartment" && action.payload === null)
        vm.highlight3DApartments();
    });
  },
  computed: {
    ...mapState({
      view: state => state.view,
      apartments: state => state.apartments
    }),
    ...mapGetters("apartments", ["getById", "getByName"]),
    filteredApartments() {
      let filteredApartments = this.apartments.collection;

      if (this.filters.bedroom > 0)
        filteredApartments = filteredApartments.filter(
          apartment => parseInt(apartment.bedroom) === this.filters.bedroom
        );

      if (this.filters.bathroom > 0)
        filteredApartments = filteredApartments.filter(
          apartment => parseInt(apartment.bathroom) === this.filters.bathroom
        );

      filteredApartments = filteredApartments.filter(
        apartment => parseInt(apartment.study) === this.filters.study
      );

      return filteredApartments;
    },
    highlightedApartmentNames() {
      return this.filteredApartments.map(apartment => apartment.name);
    }
  },
  methods: {
    setFilter(name, value) {
      this.formSubmitted = false;

      this.filters[name] = value;
    },
    filterApartments() {
      this.$store.dispatch("view/setApartment", null);

      this.formSubmitted = true;

      this.reset3DHighlight();
      this.highlight3DApartments();
    },
    highlight3DApartments() {
      DS.ds.highlightApartments(this.highlightedApartmentNames);
    },
    highlight3DPool() {
      DS.ds.highlightAmenities(["pool"]);
    },
    highlight3DChildcare() {
      DS.ds.highlightAmenities(["childcare"]);
    },
    highlight3DRetail() {
      DS.ds.highlightAmenities(["retail"]);
    },
    reset3DHighlight() {
      DS.ds.hideAllApartments();
      DS.ds.hideAllAmenities();
    }
  }
};
</script>

<style scoped lang="scss">
@import "@/assets/scss/_variables.scss";

.project-header {
  font-family: $font-family--secondary;

  &__logo {
    width: 11.5rem;
    margin-bottom: 3.75rem;
  }

  p {
    font-size: 20px;
    text-transform: uppercase;
  }
}

.project-filter {
  width: 100%;

  h2 {
    margin: 2rem 0 1.25rem;
    text-transform: uppercase;
  }

  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 5rem;
    height: 5rem;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
  }

  &__filter-row {
    display: flex;
    align-items: center;

    margin: 1.25rem 0;

    label {
      width: 5rem;
    }
  }

  &__submit {
  }
  &__error {
    color: $color--red;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 1rem;
  }
}
</style>
