<template>
  <transition name="transition-fall">
    <div class="floor" v-if="view.selectedDimension === '2d'">
      <div class="main-content">
        <div class="floor-plan">
          <div class="floor-plan__image" ref="planImageContainer">
            <img src="@/assets/images/Floorplan1.png" alt="Floor Plan" ref="planImage" @load="onImageLoad">
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

import PinchZoom from 'pinch-zoom-js';

import BackIcon from '@/assets/icons/BackIcon';

import ApartmentInfo from '../components/ApartmentInfo';

export default {
  name: 'Floor',
  components: {
    BackIcon,
    ApartmentInfo,
  },
  mounted() {
    window.addEventListener('resize', this.handleResize);
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize)
  },
  data() {
    return {
      pinchZoom: null,
      currentScale: 1,
      initialScale: 1,

      imageWidth: null,
      imageHeight: null,
      imageLoaded: false,
    };
  },
  computed: {
    ...mapState({
      view: state => state.view,
    }),
  },
  methods: {
    onImageLoad() {
      this.updateImageDimensions();

      this.imageLoaded = true;
      this.setupPinchZoom();
    },
    updateImageDimensions() {
      this.imageWidth = this.$refs.planImage.offsetWidth;
      this.imageHeight = this.$refs.planImage.offsetHeight;
    },
    handleResize() {
      if(!this.imageLoaded)
        return;

      this.updateImageDimensions();
    },
    setupPinchZoom() {
      let planImageContainer = this.$refs.planImageContainer;

      const vm = this;

      // Commented out the check because the image get's destroyed by v-if every time.
      // if(!this.pinchZoom) {
        this.pinchZoom = new PinchZoom(planImageContainer, {
          verticalPadding   : 400,
          horizontalPadding : 400,
          onZoomUpdate: function(object) {
            vm.currentScale = object.zoomFactor;
          },
        });
      // } else {
      //   this.pinchZoom.scaleTo(1, this.pinchZoom.initialOffset);
      // }

      this.initialScale = this.pinchZoom.getInitialZoomFactor();
    },
  },
};
</script>

<style lang="scss">
@import '@/assets/scss/_variables.scss';

.minimap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    width: 100%;
  }

  p {
    text-transform: uppercase;
    margin: 0.5rem 0;
  }
}

.floor {
  position: absolute;
  width: 100%;

  display: flex;
  align-items: center;

  h2 {
    margin: 2rem 0;
    text-transform: uppercase;
  }

  .main-content {
    flex: 1 1 auto;
    height: 100vh;
  }

  .pinch-zoom-container {
    width: 100%;
  }

  &-plan {
    display: flex;
    align-items: center;

    height: 100%;

    background: $color--white;

    &__image {
      position: relative;

      img {
        width: 100%;
      }
    }
  }
}
</style>
