<template>
  <div class="main-container">
    <div class="sidebar-container">
      <router-view name="sidebar"></router-view>
    </div>

    <div class="home" ref="home">
      <router-view></router-view>

      <div id="canvas" ref="canvas"></div>

      <transition name="transition-tile">
        <ApartmentTile
          v-if="selectedApartment && !showDimensionSwitcher"
          :name="selectedApartment.name"
          :bedroom="parseInt(selectedApartment.bedroom)"
          :bathroom="parseInt(selectedApartment.bathroom)"
          :study="parseInt(selectedApartment.study)"
          :internalArea="selectedApartment.internal_area"
          :externalArea="selectedApartment.external_area"
          :totalArea="selectedApartment.total_area"
          @explore="gotoSelectedApartment"
          @close="onClose"
        />
      </transition>

      <CameraSlider v-show="showCameraSlider" />

      <div class="dimension-switch" v-show="showDimensionSwitcher">
        <button class="button button--switch" :class="{ 'button--selected' : view.selectedDimension === '2d' }" @click="selectDimension('2d')">
          <PlanIcon/>
        </button>
        <button class="button button--switch" :class="{ 'button--selected' : view.selectedDimension === '3d' }" @click="selectDimension('3d')">
          <CubeIcon/>
        </button>
      </div>

    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

import ApartmentTile from '@/components/ApartmentTile';
import CameraSlider from '@/components/CameraSlider';

import CubeIcon from '@/assets/icons/CubeIcon';
import PlanIcon from '@/assets/icons/PlanIcon';

export default {
  name: 'Home',
  components: {
    ApartmentTile,
    CameraSlider,
    CubeIcon,
    PlanIcon,
  },
  mounted() {
    const vm = this;
    const showStats = false;
    let stats = null;

    if (showStats) {
      stats = new Stats();
      // this.stats.showPanel( 1 ); // 0: fps, 1: ms, 2: mb, 3+: custom
      this.$refs.home.appendChild(stats.domElement)
    }

  // Prevent the body from scrolling around when the model is being interacted with
    this.$refs.canvas.addEventListener('touchmove', function(e){
      e.preventDefault();
    });

    // document.body.appendChild(stats.domElement);
    let ds = null;
    const app = clay.application.create('#canvas', {
      graphic: {
        linear: false,
        tonemapping: true,
        shadow: false
      },
      init: function (app) {
        ds = new DS(app);
        vm.$store.dispatch('view/setLoading', true);

        ds.onPicked(function(name) {
          vm.$store.dispatch('view/setApartment', name);
        });

        ds.onBuildingLoaded(function() {
          vm.$store.dispatch('view/setLoading', false);
        });

        if (showStats) {
          // Pause rendering
          const pause = document.createElement('button');
          const buttonText = document.createTextNode('Zz');
          pause.style.position = 'absolute';
          pause.style.left = '100px';
          pause.style.top = '10px';
          pause.title = 'Give your GPU a rest';
          pause.appendChild(buttonText);
          pause.addEventListener('click', function(e) {
            if (ds._app.timeline._paused) {
              e.target.style.color = 'black';
              ds._app.timeline.resume();
            } else {
              e.target.style.color = 'red';
              ds._app.timeline.pause();
            }
          });
          vm.$refs.home.appendChild(pause);
        }
      },
      loop: function (app) {
        if (showStats) {
          stats.begin();
          ds._control.update(app.frameTime);
          stats.end();
        } else {
          ds._control.update(app.frameTime);
        }
      }
    });

    window.onresize = function () {
      app.resize()
    };
  },
  data() {
    return {
    };
  },
  computed: {
    ...mapState({
      view       : state => state.view,
      apartments : state => state.apartments,
    }),
    ...mapGetters('apartments', ['getById', 'getByName']),
    selectedApartment() {
      return this.getByName(this.view.selectedApartmentName);
    },
    showDimensionSwitcher() {
      return this.$route.name !== 'home';
    },
    showCameraSlider() {
      return this.view.selectedDimension === '3d' && !this.view.loading;
    },
  },
  methods: {
    selectDimension(dimension) {
      this.$store.dispatch('view/setDimension', dimension);
    },
    onClose() {
      this.$store.dispatch('view/setApartment', null);
    },
    gotoSelectedApartment() {
      // this.onClose();
      DS.ds.flyIn();
      this.$router.push({ path: `/level` });
    },
  },
}
</script>

<style lang="scss">
@import '@/assets/scss/_variables.scss';

.main-container {
  position: relative;
  display: flex;

  height: 100vh;
}

.home {
  position: relative;
  display: flex;

  height: 100vh;
  width: 100%;
}
#canvas {
  height: 100%;
  width: 100%;
  // background-color: $color--grey;
}
#stats {
  z-index: 10;
  position: absolute;
  left:0;
  top: 0;
}

.transition-tile {
  $transition-time: 300ms;
  $transition-time-out: 150ms;

  &-enter-active,
  &-leave-active {
    transition: transform $transition-time ease,
      opacity $transition-time ease,
      box-shadow $transition-time ease;
    transform-origin: center;
  }

  &-leave-active {
    transition: transform $transition-time-out ease,
      opacity $transition-time-out ease,
      box-shadow $transition-time-out ease;
  }

  &-enter {
    opacity: 0;
    transform: scale(1.2);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);

    &-to {
      opacity: 1;
      transform: scale(1);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    }
  }

  &-leave {
      opacity: 1;
      transform: scale(1);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

    &-to {
      opacity: 0;
      transform: scale(1.2);
      box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);

    }
  }
}
</style>
