<template>
  <transition name="transition-fall">
    <div class="level" v-if="view.selectedDimension === '2d'">
      <div class="main-content">
        <div class="level-plan">
          <div class="level-plan__image" ref="planImageContainer">
            <img src="@/assets/images/Levelplan1.png" alt="Level Plan" ref="planImage" @load="onImageLoad">
            <div class="level-plan__hotspots" v-if="imageLoaded">
              <span
                v-for="(hotspot, index) in hotspotCoords"
                :key="index"
                class="level-plan__hotspot"
                :style="{
                  transform: `translateX(${imageWidth * hotspot.x}px) translateY(${imageHeight * hotspot.y}px)`,
                }"
                @click="gotoFloor(`${view.selectedLevel}0${index + 1}`)"
              >
                {{ `${view.selectedLevel}0${index + 1}` }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

import PinchZoom from 'pinch-zoom-js';

export default {
  name: 'Level',
  components: {
  },
  mounted() {
    const vm = this;

    window.addEventListener('resize', this.handleResize);

    // If we click the 3d model, make sure we change the interface to move into the floor plan
    DS.ds.on3DTransition(function(before, after) {
      if(before === 'level' && after === 'floor');
        vm.$router.push({ path: `/floor/607` });
    });
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize)
  },
  data() {
    return {
      pinchZoom: null,
      currentScale: 1,
      initialScale: 1,

      imageWidth: null,
      imageHeight: null,
      imageLoaded: false,

      hotspotCoords: [{
        x: 0.21,
        y: 0.37,
      },{
        x: 0.35,
        y: 0.37,
      },{
        x: 0.57,
        y: 0.37,
      },{
        x: 0.72,
        y: 0.37,
      },{
        x: 0.17,
        y: 0.52,
      },{
        x: 0.30,
        y: 0.57,
      },{
        x: 0.57,
        y: 0.57,
      },{
        x: 0.72,
        y: 0.54,
      }],
    };
  },
  computed: {
    ...mapState({
      view : state => state.view,
    }),
  },
  methods: {
    onImageLoad() {
      this.updateImageDimensions();

      this.imageLoaded = true;
      this.setupPinchZoom();
    },
    updateImageDimensions() {
      this.imageWidth = this.$refs.planImage.offsetWidth;
      this.imageHeight = this.$refs.planImage.offsetHeight;
    },
    handleResize() {
      if(!this.imageLoaded)
        return;

      this.updateImageDimensions();
    },
    setupPinchZoom() {
      let planImageContainer = this.$refs.planImageContainer;

      const vm = this;

      // Commented out the check because the image get's destroyed by v-if every time.
      // if(!this.pinchZoom) {
        this.pinchZoom = new PinchZoom(planImageContainer, {
          verticalPadding   : 400,
          horizontalPadding : 400,
          onZoomUpdate: function(object) {
            vm.currentScale = object.zoomFactor;
          },
        });
      // } else {
      //   this.pinchZoom.scaleTo(1, this.pinchZoom.initialOffset);
      // }

      this.initialScale = this.pinchZoom.getInitialZoomFactor();
    },
    gotoFloor(floor) {
      DS.ds.flyIn();
      this.$router.push({ path: `/floor/${floor}` });
    },
  },
};
</script>

<style lang="scss">
@import '@/assets/scss/_variables.scss';

.level {
  position: absolute;
  width: 100%;

  display: flex;
  align-items: center;

  &-plan {
    display: flex;
    align-items: center;

    height: 100%;

    background: $color--white;

    &__image {
      position: relative;

      img {
        width: 100%;
      }
    }

    &__hotspots {
      position: absolute;
      top: 0;
      left: 0;
    }
    &__hotspot {
      position: absolute;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 3rem;
      height: 3rem;

      cursor: pointer;

      border-radius: 100%;
      background-color: $color--green;
    }
  }

  .main-content {
    flex: 1 1 auto;
    height: 100vh;
  }

  .pinch-zoom-container {
    width: 100%;
  }
}
</style>
