<template>
  <transition name="transition-fall">
    <div class="loading" v-if="isLoading">
      <div class="main-content">
        <img src="@/assets/images/loading-building.jpg" alt="Loading">
        <div class="loading-content">
          <div class="loading__bar">
            <div
              class="loading__bar-fill"
              :style="{
                width: `${loadingAmount}%`,
              }"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

export default {
  name: 'Loading',
  components: {
  },
  mounted() {
    const vm = this;

    const loop = function() {
      if(vm.loadingFactor > 0.2)
        vm.loadingFactor = vm.loadingFactor - 0.2;

      vm.loadingTime = vm.loadingTime + vm.loadingFactor;

      setTimeout(loop, Math.floor(Math.random() * 2000) + 200);
    };

    loop();
  },
  data() {
    return {
      loadingTime: 0,
      loadingFactor: 5,
    };
  },
  computed: {
    ...mapState({
      view: state => state.view,
    }),
    loadingAmount() {
      if(!this.view.loading)
        return 100;

      return 1 * this.loadingTime < 80 ? 1 * this.loadingTime : 80;
    },
    isLoading() {
      return this.view.loading;
    }
  },
  methods: {
  },
};
</script>

<style lang="scss">
@import '@/assets/scss/_variables.scss';

.loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgb(141, 171, 216);

  .main-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;

    img {
      position: absolute;
      left: 0;
      top: 0;
        width: 100%;
        height: 100vh;
    }
  }

  &-content {
    bottom: 150px;
    left: 20%;
    width: 80%;
    height: 10px;
    position: absolute;
  }

  &__bar {
    width: 60%;
    border-radius: 1rem;
    background-color: black;

    &-fill {
      width: 2%;
      height: 4px;
      border-radius: 1rem;
      background-color: white;

      transition: width 450ms ease;
    }
  }
}

</style>
