<template>
<div class="splash">
  <a class="logo" href="http://displaysweet.com/">
    <img width="300" src="/assets/logo.png">
  </a>
  <h2>Please contact us for a demo</h2>
  <p class="links">
    <a href="mailto:hello@displaysweet.com">hello@displaysweet.com</a>
    <br />
    <a href="tel:+61 3 806 0825">+61 3 806 0825</a>
  </p>
  </div>
</template>

<script>
export default {
  name: 'Splash',
  components: {  },
}
</script>

<style scoped lang="scss">
  .splash {
    text-align: center;

    .logo {
      display: inline-block;
      margin-top: 200px;
      margin-bottom: 100px;
    }
    h2 {
      margin: 20px 0;
      font-weight: normal;
      font-size: 20px;
    }
    .links {
      display: inline-block;
      margin: 20px 0;
    }
    a { 
      color: black;
      text-decoration: none;
    }
  }
</style>
