<template>
  <div class="tile apartment-tile">
    <ApartmentInfo
      :name="name"
      :bedroom="bedroom"
      :bathroom="bathroom"
      :study="study"
      :internalArea="internalArea"
      :externalArea="externalArea"
      :totalArea="totalArea"
    />
    <!-- ACTION button on Tile -->
    <button class="button action-button" @click="handleExplore">
      <ExploreIcon class="icon" />
      <span>Explore</span>
    </button>
    <!-- CLOSE button on Tile -->
    <button class="close" @click="handleClose">
      <CloseIcon />
    </button>
  </div>
</template>

<script>
import ApartmentInfo from './ApartmentInfo';
import CloseIcon from '@/assets/icons/CloseIcon';
import ExploreIcon from '@/assets/icons/ExploreIcon';

export default {
  components: {
    ApartmentInfo,
    CloseIcon,
    ExploreIcon,
  },
  name: "ApartmentTile",
  props: {
    // ID of apartment to load the data
    name: {
      required: true,
      type: String
    },
    bedroom: {
      required: true,
      type: Number
    },
    bathroom: {
      required: true,
      type: Number
    },
    study: {
      required: true,
      type: Number
    },
    internalArea: {
      required: true,
      type: String
    },
    externalArea: {
      required: true,
      type: String
    },
    totalArea: {
      required: true,
      type: String
    },
  },
  methods: {
    handleExplore() {
      this.$emit('explore');
    },
    handleClose() {
      this.$emit('close');
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.apartment-tile {
  width: 300px;
  right: 3rem;
  top: 2rem;
  position: absolute;
}

.close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

.action-button {
  background: black;
  width: 100%;
  padding: 0.5rem;
  line-height: 2rem;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  font-size: 0.85rem;
}
</style>
