<template>
  <div class="apartment-info">
    <h2 class="heading">{{name}}</h2>
    <hr>
    <ul class="numbered-icons">
      <li>
        <BedroomIcon class="icon" />
        <span>{{bedroom}}</span>
      </li>
      <li>
        <BathroomIcon class="icon" />
        <span>{{bathroom}}</span>
      </li>
      <li>
        <StudyIcon class="icon" />
        <span>{{study}}</span>
      </li>
    </ul>
    <hr>
    <table class="stats-table">
      <tbody>
        <tr>
          <th>Internal</th>
          <td>
            {{internalArea}}
          </td>
        </tr>
        <tr>
          <th>External</th>
          <td>
            {{externalArea}}
          </td>
        </tr>
        <tr>
          <th>Total</th>
          <td>
            {{totalArea}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import BedroomIcon from '@/assets/icons/BedroomIcon';
import BathroomIcon from '@/assets/icons/BathroomIcon';
import StudyIcon from '@/assets/icons/StudyIcon';

export default {
  components: {
    BedroomIcon,
    BathroomIcon,
    StudyIcon,
  },
  name: "ApartmentInfo",
  props: {
    // ID of apartment to load the data
    name: {
      required: true,
      type: String
    },
    bedroom: {
      required: true,
      type: Number
    },
    bathroom: {
      required: true,
      type: Number
    },
    study: {
      required: true,
      type: Number
    },
    internalArea: {
      required: true,
      type: String
    },
    externalArea: {
      required: true,
      type: String
    },
    totalArea: {
      required: true,
      type: String
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$color--dark-grey: #8b9ca1;

h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.heading {
    margin: 0 0 1.25rem 0;
    text-transform: uppercase;
    font-size: 1.5rem;
  }

.numbered-icons {
  display: flex;

  li {
    margin: 0 1.5rem 0 0;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
  }
  .icon {
    width: 1.5rem;
    margin: 0;
  }
  span {
    font-size: 0.9rem;
    margin-left: 0.5rem;
    font-weight: 600;
  }
}

.stats-table {
  width: 100%;
  margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: 300;

  td {
    text-align: right;
    padding: 0.66rem;

    &:last-child {
      padding-right: 0;
    }
  }
  th {
    color: $color--dark-grey;
    text-align: left;
    font-weight: 300;
  }
}
</style>
