<template>
  <div id="slider" ref="slider" class="camera-slider" />
</template>

<script>
import noUiSlider from 'nouislider';
import 'nouislider/distribute/nouislider.css';

export default {
  name: 'CameraSlider',
  data() {
    return {
      sliderValue: 0,
      delay: null,
    };
  },
  mounted() {
    // See https://refreshless.com/nouislider/ for settings
    noUiSlider.create(this.$refs.slider, {
      start: 4.5,
      step: 0.31,
      direction: 'rtl',
      orientation: 'vertical',
      range: {
        'min': 0.3,
        'max': 9
      }
    });
    this.$refs.slider.noUiSlider.on('update', sliderValue => {
      if (typeof DS !== 'undefined' && typeof DS.ds !== 'undefined') {
        DS.ds.setCameraHeight(Number(sliderValue[0]));
      }
    });
  },
  beforeDestroy() {
    this.$refs.slider.noUiSlider.destroy();
  },
  methods: {
    updateSlider(sliderValue) {
      // changes the slider value based on external values
      this.$refs.slider.noUiSlider.set(sliderValue);
    },
  }
}
</script>

<style lang="scss">
.noUi-target.camera-slider {
  position: absolute;
  right: 10px;
  width: 30px;
  top: 30px;
  height: calc(100vh - 80px);
  background: transparent;
  box-shadow: none;
  border: none;

  .noUi-handle {
    width: 30px;
    height: 30px;
    left: 0;
    top: -15px;
    border-radius: 50%;
    box-shadow: none;

    &:before,
    &:after {
      display: none;
    }
  }

  .noUi-connects {
    background: rgba(0, 0, 0, 0.2);
    width: 14px;
    margin-left: 8px;
    border-radius: 6px;
  }
}
</style>
