<template>
  <div class="project-filter">
    <button class="tile">O</button>
  </div>
</template>

<script>
export default {
  name: 'ProjectFilterButton',
  props: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.project-filter {
  button {
    width: 5rem;
    height: 5rem;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
